---
import MainLayout from "../layouts/MainLayout.astro"
import SplitSectionImgTxt from "../components/SplitSectionImgTxt.astro";
import CategoryList from "../components/CategoryList.astro";

import racing from '../assets/photos/racing2.JPG';
import vyzva from '../assets/photos/vyzva.jpg';
import racing3 from '../assets/photos/racing3.jpg';
import devity from '../assets/partners/devity.svg';
import alejka from '../assets/partners/alejka.png';
import ta from '../assets/partners/ta.jpg';
import sos from '../assets/partners/sos.svg';
import mm from '../assets/partners/mm.png';
import amavetgaleje from '../assets/partners/galejeamavet.svg';
---

<MainLayout title="RBA 2027">
	<section class="relative flex items-center pt-12 pb-20">
        <div class="md:flex md:flex-row md:justify-between content md:items-center w-full">
            <div class="md:w-1/2 z-10 flex flex-col space-y-2">
                <p class="text-subtext text-lg font-light mb-2">Už sa tešíme na</p>
                <span class="title text-5xl md:text-7xl text-orange leading-tight md:leading-none">
                    16. ročník
				</span>
                <p class="text-blue">
                    súťaže Robotický Battle na Alejovej
                </p>
                
                <div class="mt-10 space-y-6">
                    <div class="flex items-center space-x-4">
                        <span class="text-2xl">📅</span>
                        <p class="text-xl font-bold text-gray-700 uppercase tracking-tight">RBA 2027</p>
                    </div>
                    <div class="flex items-center space-x-4">
                        <span class="text-2xl">📍</span>
                        <p class="text-xl font-bold text-gray-700 tracking-tight leading-tight">Gymnázium, Alejová 1, Košice</p>
                    </div>
                </div>

                <p class="mt-8 text-lg text-gray-600 leading-relaxed">
                    Termín, registráciu a pravidlá pre ďalší ročník zverejníme včas. Sledujte našu stránku a pripravte sa na ďalšie robotické výzvy!
                </p>
            </div>

            <div class="hidden md:flex md:w-1/2 mt-0 relative justify-center items-center">
                <div class="relative w-5/6 h-5/6 aspect-square bg-blueLight p-2 shadow-xl transform -rotate-3">
                    <div class="w-full h-full bg-gray-200 overflow-hidden">
                        <img 
                            src={racing.src} 
                            alt="Racing" 
                            class="w-full h-full object-cover shadow-inner"
                        >
                    </div>
                    
                    <div class="absolute -bottom-12 -right-12 float-animation w-56 h-56 bg-orangeLight p-6 text-white flex flex-col justify-center shadow-2xl transform rotate-6">
                        <p class="text-xs uppercase font-bold mb-2 tracking-tighter">Už sa tešíme na</p>
                        <p class="text-4xl font-black mb-4 tracking-tight">RBA 2027</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	<section id="stats" class="w-full bg-orange text-white py-4 h-24">
	</section>

	<SplitSectionImgTxt title="Príďte ukázať čo dokážete" subtitle="RBA 2027" imageSrc={vyzva.src} imageAlt="Live Challenge robot RBA"   text="Prídťe si zmerať sily so žiakmi z celého Slovenska a ukázať, čo vo vás je. Čakajú vás zaujímavé výzvy, pri ktorých preveríte logické myslenie, kreativitu aj schopnosť pracovať v tíme. Či už ste začiatočníci alebo skúsení konštruktéri, u nás má každý šancu ukázať svoj talent. Príďte sa zabaviť, naučiť sa niečo nové a zažiť jedinečnú atmosféru."/>

	<CategoryList />

	<section class="content py-24 flex flex-col space-y-4">
		<div class="flex flex-col">
			<span>
				RBA 2026
			</span>
			<h1 class="text-orange">Výsledky a galéria</h1>
			<p class="mb-4">
				15. ročník je za nami! Pozrite si fotografie zo súťaže a výsledkové listiny jednotlivých kategórií.
			</p>
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-w-md">
				<a href="https://photos.app.goo.gl/bGM8bswc5AVyLmGz7" target="_blank" class="btn btn-orange flex flex-row gap-2 justify-between">
					<span>Fotogaléria</span>
					<span class="material-symbols-outlined">
						arrow_outward
					</span>
				</a>
				<a href="https://github.com/RobotickyBattle/rba.github.io/tree/master/public/pdf/results/2026-Vysledky.pdf" target="_blank" class="btn btn-orange flex flex-row gap-2 justify-between">
					<span>Výsledky</span>
					<span class="material-symbols-outlined">
						arrow_outward
					</span>
				</a>
			</div>
		</div>
	</section>

	<section class="w-full py-28 bg-cover bg-no-repeat bg-center"  style={{backgroundImage: `url('${racing3.src}')`,}}>
		<div class="content flex flex-row justify-end">
			<div class="bg-background p-8 flex flex-col space-y-4 w-full l:w-2/3 max-w-sm">
				<h1 class="text-orange">Nechajte sa inšpirovať</h1>
				<p>
					Pozrite sa ako to vyzeralo po minulé roky, a s akými projektami prišli žiaci.
				</p>
				<a href={`${import.meta.env.BASE_URL}archiv/`} class="btn btn-orange text-center">Galéria&nbsp;&gt;</a>
			</div>
		</div>
	</section>

	<section class="content flex flex-col space-y-8 py-12 items-center">
		<h1 class="text-orange">Organizátori</h1>

		<div class="grid grid-cols-2 gap-6 sm:gap-8 items-center">
			<img src={alejka.src} alt="Sponsor 1" class="w-full h-auto mx-auto" />
			<img src={amavetgaleje.src} alt="Sponsor 1" class="h-full mx-auto" />
		</div>
	</section>

	<section class="content flex flex-col space-y-8 py-12 items-center">
		<h1 class="text-blue">Partneri</h1>

		<div class="grid grid-cols-2 gap-6 sm:gap-8 items-center">
			<img src={devity.src} alt="Sponsor 2" class="w-full h-auto mx-auto" />
			<img src={sos.src} alt="Sponsor 3" class="w-full h-auto mx-auto" />
			<div class="col-span-2">
				<img src={mm.src} alt="Sponsor 3" class="h-20 mx-auto" />
			</div>
			<div class="col-span-2">
				<img src={ta.src} alt="Sponsor 3" class="h-20 mx-auto aspect-square" />
			</div>
		</div>
	</section>

</MainLayout>
