---
import MainLayout from "../layouts/MainLayout.astro"
import CategoryCard from "../components/CategoryCard.astro";

import hero from '../assets/photos/hero.svg';
import heroMobile from '../assets/photos/hero-mobile.svg';
import gearBg from '../assets/bg/orange-gears.svg';
import about from '../assets/photos/about.jpg';
import blueFull from '../assets/bg/blue-full.svg';
import racingIcon from '../assets/icons/car.svg';
import liveIcon from '../assets/icons/puzzle.svg';
import rocketIcon from '../assets/icons/rocket.svg';
import battleIcon from '../assets/icons/battle.svg';
import placeholder from '../assets/photos/placeholder.png';


---

<MainLayout title="Domov">
  <section class="h-[calc(100vh-72px)] bg-contain bg-no-repeat bg-right hidden md:block" style={{backgroundImage: `url('${hero.src}')`,}}>
	<div class="content flex flex-col h-full justify-center space-y-6">
		<div class="flex flex-col">
			<span class="subtext">Jedinečné robotická súťaž v Košiciach</span>
			<h1 class="text-orange">Robotický Battle</h1>
			<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
			<span class="text-xl mt-4">RBA 2024 je za nami!</span>
			<!-- Odkomentovat ked su pravidla na dalsi rocnik -->
			 <!--
			<span class="text-xl mt-4">2.6.2025, Gymnazium Alejova 1, Kosice</span>
			 -->
		</div>
		<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Galéria&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Výsledky&nbsp;&gt;</a>
		</div>
		<!-- Odkomentovat toto a zakomentovat blok vyssie ked je novy rocnik -->
		<!--
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Propozície&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Registrácia&nbsp;&gt;</a>
		</div>
		 -->
	</div>
  </section>
  <section class="md:hidden h-[calc(100vh-72px)] bg-cover bg-no-repeat bg-center" style={{backgroundImage: `url('${heroMobile.src}')`,}}>
	<div class="content flex flex-col h-full justify-center items-center space-y-6">
		<div class="flex flex-col">
			<span class="subtext text-center text-background">Jedinečné robotická súťaž v Košiciach</span>
			<h1 class="text-orange text-center">Robotický Battle</h1>
			<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
			<span class="text-xl mt-4 text-center">RBA 2024 je za nami!</span>
			<!-- Odkomentovat ked su pravidla na dalsi rocnik -->
			 <!--
			<span class="text-xl mt-4 text-center">2.6.2025, Gymnazium Alejova 1, Kosice</span>
			 -->
		</div>
		<!-- Zakomentovat ked su pravidla na dalsi rocnik -->
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Galéria&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Výsledky&nbsp;&gt;</a>
		</div>
		<!-- Odkomentovat toto a zakomentovat blok vyssie ked je novy rocnik -->
		<!--
		<div class="flex flex-row space-x-4">
			<a href="" class="btn btn-orange-full">Propozície&nbsp;&gt;</a>
			<a href="" class="btn btn-orange">Registrácia&nbsp;&gt;</a>
		</div>
		 -->
	</div>
  </section>
  <section id="stats" class="w-full bg-orange text-white py-4">
	<div class="content flex flex-row justify-between">
		
		<div class="flex flex-col items-center">
		<span class="title text-xl sm:text-2xl md:text-3xl counter" data-target="123">
			0
		</span>
		<span>projektov</span>
		</div>

		<div class="flex flex-col items-center">
		<span class="title text-xl sm:text-2xl md:text-3xl counter" data-target="456">
			0
		</span>
		<span>nadšencov</span>
		</div>

		<div class="flex flex-col items-center">
		<span class="title text-xl sm:text-2xl md:text-3xl counter" data-target="78">
			0
		</span>
		<span>škôl</span>
		</div>

	</div>
	</section>

	<section class="w-full bg-contain bg-center bg-repeat" style={{backgroundImage: `url('${gearBg.src}')`,}}>
		<div class="flex flex-col md:flex-row md:justify-between gap-8 md:gap-0 md:items-stretch py-4 md:py-12 content">
			<div class="w-full md:w-[45%] self-center mt-20 md:mt-0">
				<span class="subtext">O RBA</span>
				<h1 class="text-orange">Čo je RBA?</h1>
				<div class="mt-2 text-dark">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce  vestibulum id sem nec lacinia. Quisque dictum nibh orci, vitae bibendum  lacus tincidunt ac.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce  vestibulum id sem nec lacinia. Quisque dictum nibh orci, vitae bibendum  lacus tincidunt ac.
				</div>
			</div>
			<div class="w-full md:w-[45%] self-center">
				<img src={about.src} alt="photo of me at competition Hack Kosice" class="w-full mx-auto">
			</div>
		</div>
	</section>

	<section class="w-full bg-cover bg-left bg-no-repeat text-white" style={{backgroundImage: `url('${blueFull.src}')`,}}>
		<div class="flex flex-col gap-8 content py-10">
			<h1 class="text-white text-center">Kategórie</h1>
			<div class="grid grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
				<CategoryCard title="Racing" icon={racingIcon.src} href="/categories/racing"/>
				<CategoryCard title="Live Challenge" icon={liveIcon.src} href="/categories/live"/>
				<CategoryCard title="Vlastný model" icon={rocketIcon.src} href="/categories/rocket"/>
				<CategoryCard title="Battle bots" icon={battleIcon.src} href="/categories/battle"/>
			</div>
		</div>
	</section>

	<section class="content flex flex-col space-y-8 py-12 items-center">
		<h1 class="text-orange">Sponzori</h1>

		<div class="grid grid-cols-2 md:grid-cols-3 gap-6 sm:gap-8 items-center">
			<img src={placeholder.src} alt="Sponsor 1" class="w-full h-auto mx-auto" />
			<img src={placeholder.src} alt="Sponsor 2" class="w-full h-auto mx-auto" />
			<img src={placeholder.src} alt="Sponsor 3" class="w-full h-auto mx-auto" />
			<img src={placeholder.src} alt="Sponsor 4" class="w-full h-auto mx-auto" />
			<img src={placeholder.src} alt="Sponsor 5" class="w-full h-auto mx-auto" />
		</div>
	</section>


</MainLayout>