---
import CategoryCard from "../components/CategoryCard.astro";

import blueFull from '../assets/bg/blue-full.svg';
import racingIcon from '../assets/icons/car.svg';
import liveIcon from '../assets/icons/puzzle.svg';
import rocketIcon from '../assets/icons/rocket.svg';
import battleIcon from '../assets/icons/battle.svg';

---


	<section class="w-full bg-cover bg-left bg-no-repeat text-white" style={{backgroundImage: `url('${blueFull.src}')`,}}>
		<div class="flex flex-col gap-8 content py-10">
			<h1 class="text-white text-center">Kategórie</h1>
			<div class="grid grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
				<CategoryCard title="Racing" icon={racingIcon.src} href={`${import.meta.env.BASE_URL}categories/racing/`}/>
				<CategoryCard title="Live Challenge" icon={liveIcon.src} href="/categories/live"/>
				<CategoryCard title="Vlastný model" icon={rocketIcon.src} href={`${import.meta.env.BASE_URL}categories/vlastny-model/`}/>
				<CategoryCard title="Battle bots" icon={battleIcon.src} href="/categories/battle"/>
			</div>
		</div>
	</section>