---
import gearBg from '../assets/bg/orange-gears.svg';
const {title, subtitle, imageSrc, imageAlt, text, reverse} = Astro.props;
---

<section class="w-full bg-contain bg-center bg-repeat" style={{backgroundImage: `url('${gearBg.src}')`,}}>
		<div class={`flex flex-col ${reverse ? 'md:flex-row-reverse' : 'md:flex-row'} gap-8 md:gap-0 md:justify-between md:items-stretch py-4 md:py-12 content`}>
			<div class="w-full md:w-[45%] self-center mt-8 md:mt-">
				<span class="subtext">{subtitle}</span>
				<h1 class="text-orange">{title}</h1>
				<div class="mt-2 text-dark">
					{text}
				</div>
			</div>
			<div class="w-full md:w-[45%] self-center">
				<img src={imageSrc} alt={imageAlt} class="w-full mx-auto">
			</div>
		</div>
	</section>